<!DOCTYPE html>
<html lang="en">

<%- include('../master/header.ejs') %>

    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="categoryList">
                        <div class="row">
                            <% if (categories) { %>
                                <% categories.forEach((category) =>  { %>
                                    <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= category.name %>
                                            </h5>
                                            <p class="card-text">
                                                <%= category.code %>
                                            </p>
                                            <a href="<%= category.id %> " class="btn btn-sm btn-primary">Read More</a>
                                            <a href="edit/<%= category.id %> " class="btn btn-sm btn-danger">Edit</a>
                                        </div>
                                    </div>
                                    <% }) } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("../master/footer.ejs") %>
    </body>

</html>